/* Layout base */
.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background-color: #E7E9EB;
  padding: 5px;
  border-right: 1px solid #ccc;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}
/* Main content */
.main-content {
  flex-grow: 1;
  padding: 0px 5px;
  background-color: #fff;
  overflow-y: auto;
}
/* Advertisement section */
.ad-section {
  width: 250px;
  min-width: 210px;
  max-width: 210px;
  padding: 20px 10px;
  background-color: transparent;
  height: 100vh;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal expansion */
}

.ad-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  overflow: hidden;        /* Hide overflowing content */
  word-wrap: break-word;   /* Break long words if needed */
}

.ad-box img {
  max-width: 100%;         /* Prevent images from expanding */
  height: auto;
  display: block;
  margin: 0 auto;
}
.top-ad-section {
  background-color: #f9f9f9;
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
}
